/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/*-----1----- Frontend Animatie */

a:nth-of-type(1) {
  position: relative;
  background: burlywood;
  color: var(--secondary);
  border-color: var(--secondary);
}

.colorAni {
  animation-name: colorAni;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes colorAni {
    0%   {background-color: var(--highlight-secondary);}
    25%  {background-color: white;}
    50%  {background-color: rgb(127, 170, 255);}
    75%  {background-color: bisque;}
    100% {background-color: var(--highlight-primary);}
  }

  /*-----2----- Design Animatie */

a:nth-of-type(2) {
  position: relative;
  background: salmon;
  color: var(--secondary);
  border-color: var(--secondary);
}

.rotate {
  animation-name: rotate;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes rotate {
  50% {transform: rotate(180deg);}
  100% {transform: rotate(-180deg);}
}

/*----3---- & Animatie*/

a:nth-of-type(3) {
  position: relative;
  background: white;
  color: red;
  border-color: red;
  border-width: 3px;
}

.flipy {
  animation-name: flipy;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes flipy {
  50% {transform: rotate(100000deg);}
}

/*----4---- Development Animatie*/

a:nth-of-type(4) {
  position: relative;
  background: rgb(45, 197, 205);
  color: var(--secondary);
  border-color: var(--highlight-secondary);
  border-width: 3.5px;
}

.helicopter {
  animation-name: helicopter;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes helicopter {
  0% {
    transform: scale(1, 1) translateX(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateX(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateX(-5rem) rotate(-9000deg);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/*----5---- Sprint V Animatie */

a:nth-of-type(5) {
  position: relative;
  background-color: var(--secondary);
  color: hsl(0, 100%, 99%);
  border-width: 3px;
}

.upanddown {
  animation-name: upanddown;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes upanddown {
  0% {
    transform: scale(1, 1) translateX(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateX(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(100rem) rotate(0deg);
  }
  80% {
    transform: scale(0.9, 1.1) translateY(-100rem) rotate(0deg);
  }
  100% {
    transform: scale(1, 1) translateY(-1);
  }
}

/*----6---- Fix Animatie */

a:nth-of-type(6) {
  position: relative;
  background-color: var(--secondary);
  color: #ab8df0;
  border-color: rgb(255, 255, 255);
  border-width: 5px;
}

.driehoekje {
  animation-name: driehoekje;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes driehoekje {
  0% {
    transform: scale(1, 1) translateX(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(20rem) rotate(0deg);
  }
  80% {
    transform: scale(0.9, 1.1) translateX(50rem) rotate(0deg);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}